body {
    background-color: rgb(64, 64, 214);
    font: normal 15pt Arial;
}

div{
    padding: 10px;
}

#N1{
    margin-left: 10px;
}

#N2{
    margin-left: 10px;
}

#jump{
    margin-left: 10px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}